/*
Name: Right to Left in Vertical Lines
Author: Bobo_alcazar
Illustration: 
It provides a typesetting environment in right to left in vertical lines for some writing system different from Latin script such as Hanntsyh, Eonmun, Kana and so on.
Others:
- Horizontal layout from left to right is not the only existing way of people's writing system. Except for this, Ktav Ashuri, Arabic abjad are horizontal from right to left. Hantsyh, Eonmun are vertical from right to left. Hudum Mongol bichig, Manchu alphabet are vertical from left to right. In general, horizontal right writing is not specific. So it is necessary to provide various layout environment.
- If the text covers the whole screen, single line will be too long to read. So I must reduce the length of one line. Since horizontal layout is not bilateral symmetrical, there's no need to make the space on both sides of the text equal. Traditionally, more space will be kept over the text. But that's because when we read on paper books, the book is laid flat on the table, so the bottom half is closer to us and more easy to read. But when we read on computer, the monitor is standing in front us, so the top half is easier to read. For this reason, I leave the bottom half for the space.
*/


/*以下將閱讀模式調整爲直排*/

.markdown-preview-view {
	/*操作窗口*/
	writing-mode: vertical-rl;/*改爲直排*/
	padding: 0px 0px 0px 0px;/*調整邊距*/
	border-left: 32px solid var(--background-primary);
	border-right: 32px solid var(--background-primary);
	/*給左右加邊框是爲了遮擋溢出的內容，這樣就可將下方內容塊寬度從100%調整爲fit-content，overflow-y從scroll改爲hidden，使得操作窗口內容溢出，從而在有邊框的前提下，令滑動條在屏幕最下方*/
	margin-bottom: 25px;/*這是爲了擡高滑動條，避開右下狀態欄*/
	overflow-y: scroll;
	
	transform: scaleY(-1);/*把滾動條倒到頂上去，後頭子元素需要倒回來*/
}

.markdown-preview-view.is-readable-line-width .markdown-preview-sizer {
	/*內容塊*/
	max-width: none !important;
	padding: 0 0 2px 0 !important; /*25px是版框與內容的距離*/
	min-height: 10px /*一個任意的極小值*/ !important;
	/*以上用於消去內聯的過大尺寸*/
	width: fit-content;/*允許超寬，從而將滾動任務遞給操作窗口，滾動條因而顯示在最下方*/
	min-width: 100%;/*保證寬度*/
	overflow-y: hidden;
	/*margin-bottom: 30% !important;*/ /*改爲下面的margin-top，因爲倒過來了*/
	border-bottom: 1px solid var(--text-normal); /*版框*/
	text-align: justify;/*縱書對上下對齊要求會更髙*/
	
	transform: scaleY(-1);/*方向倒回來*/
	margin-top: 30% !important;/*天頭改到底下（實際上是上面）*/
}

/*---------------------------------------------------------*/

/*以下將源碼模式調整爲直排*/

.markdown-source-view {
	writing-mode: vertical-rl;
	width: 100% ;
	height: 100%;
}
.cm-editor {
	width: 100%;
	height: 100%;
}
/*以上是操作窗口父元素*/

.ͼ1 .cm-scroller {
	/*操作窗口*/
	/*display: block !important;*/
	width: 100%;
	height: 100%;
	padding: 7px 50px 0px 50px !important;
}

.markdown-source-view.mod-cm6.is-readable-line-width .cm-sizer {
	/*內容塊*/
	max-width: 100000px;
	/*以上用於消去內聯的過小尺寸*/
	width: 100%;
	height: 100%;
	overflow-y: hidden;/*不顯示橫向溢出文字*/
	text-align: justify;/*縱書對上下對齊要求會更髙*/
	
	transform: scaleY(-1);/*把滾動條倒到頂上去，後頭子元素需要倒回來*/
}
/*以上四個選擇其均重設寬 髙，是爲了使窗口大小正常*/

.cm-content.cm-lineWrapping {
	/*去除標題後的編輯窗口*/
	/*調整它是爲了使得內容高度正常*/
	max-width: 100000px !important;/*消除不需要的限制*/
	padding: 0 !important;/*消除內聯的底部距離*/
	width: 100% !important; /*不知爲何，默認寬度被設爲了0*/
	height: 100%; /*限制高度，避免被文本長度決定，無限溢出*/
}

.cm-sizer .inline-title {
	margin-top: 0 !important;
	margin-bottom: 28% !important;
	padding-top: 0.4em ;
	
	transform: scaleY(-1);/*倒回來*/
	margin-bottom: 0 !important;
	margin-top: 28% !important;
}
.markdown-source-view.mod-cm6 .cm-contentContainer {
	margin-top: 0 !important;
	margin-bottom: 28% !important;
	padding-top: 0.4em ;
	
	transform: scaleY(-1);/*倒回來*/
	margin-bottom: 0 !important;
	margin-top: 28% !important;
}
/*以兩個選擇器內容應保持一致，用於在編輯界面留出天頭與地腳*/
/*注意：天頭地腳不要用相對長度，因爲標題與內容的字號不一致*/

/*---------------------------------------------------------*/

/*以下調整標題*/
body{
  --file-header-font-size: calc(1.5 * var(--font-ui-large));
}
.view-header-title-container {
	line-height: calc(2 * var(--font-ui-large));
}
.view-header-title {
	/*橫向標題左行*/
	direction: rtl;
	unicode-bidi: bidi-override;
}
.view-header {
	height: 60px;
}
/*以下行內標題*/
.inline-title {
	margin-left: 1em ;/*隔開標題與內容*/
}
